.deadpool-gift {
  /* flex-grow: 1; */
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
}
.deadpool-gift-title {
  --text: clamp(0.6rem, calc(2vw + 0.5rem), 0.9rem);
  text-align: center;
  gap: 0.5rem;

  p {
    font-size: var(--text);
  }
}
.deadpool-gift .count-gift {
  font-family: var(--font-special) !important;
  color: var(--color-red);
}

.deadpool-gift-container {
  grid-template-columns: 1fr 1fr;
}

.deadpool-gift-container > div {
  gap: 1rem;
  aspect-ratio: 1 / 1;
}

.deadpool-gift-footer {
  height: 15vh;
}
